
.toTheRight {
float: right;


}

.centered {
  text-align: center;
}

.rightalign {
  text-align: right;
  float: right;
}

.leftalign {
  float: left;
}

.flexboxcontainer {
  display: flex;
  flex-direction: row;
}

.flexboxelement {
  margin: 10px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
font-weight: bold;

}

#topbar {
  padding-bottom: 40px;
}

#reallybig {
  text-align: center;
  font-size: 100px;
font-family: 'Abel', sans-serif;
line-height: 20px;
padding-bottom: 100px;
}

#icon {
  max-width: 40px;
  max-height: 40px;
  width: auto;
  height: auto;
  padding-left: 40px;

}
